@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
  scroll-behavior: smooth;
}

body{
  font-family: 'DM Sans', sans-serif;
}

.bg-black-gradient {
  background: linear-gradient(83.79deg, #1B45B4 3.25%, #1C2792 96.85%);
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}


h1 {
  font-family: "DM Sans" , sans-serif;
  font-size: 3.75rem;
}

h2 {
  font-family: "DM Sans" , sans-serif;
}

h3 {
  font-family: "DM Sans" , sans-serif;
}

h4 {
  font-family: "DM Sans" , sans-serif;
  font-size: 1rem;
  line-height: 22px;
}

h5 {
  font-family: "DM Sans" , sans-serif;
  font-size: 0.875rem;
}

h6 {
  font-family: "DM Sans" , sans-serif;
  font-size: 0.75rem;
}

p {
  font-family: "DM Sans" , sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
}